<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ratatonker calc</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.0/minty/bootstrap.min.css">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:url" content="https://statatonker.github.io">
    <meta name="twitter:title" content="statatonker">
    <meta name="twitter:description" content="stat simulator / optimized build generator for ratatoskr">
</head>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>

<body>
    <nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
        <a class="navbar-brand" href="/">statatonker</a>

        <ul class="nav justify-content-center nav-pills">
            <li class="nav-item">
                <a class="nav-link  active" href="#">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/builds">saved builds</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/faq">faq</a>
            </li>
        </ul>

    </nav>

    <br>

    <div id="app" class="container">

        <div class="row">

            <div class="jumbotron flex-fill">
                <form>
                    <div class="row">
                        <div class="col">
                            <div class="btn-primary btn-lg btn-block"> general settings</div><br>
                            <input v-model.number="number" type="number" value="3"> # of builds </input>
                            <p> does not affect load times :)</p>
                            <div class="custom-control custom-switch">
                                <input v-model.boolean="random" type="checkbox" class="custom-control-input"
                                    id="customSwitch1">
                                <label class="custom-control-label" for="customSwitch1">Randomize Builds?</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input v-model.boolean="use_acorns" type="checkbox" class="custom-control-input"
                                    id="customSwitch2">
                                <label class="custom-control-label" for="customSwitch2">Ban Lonos Mask?</label>
                            </div>
                            <div class="custom-control custom-switch">
                                <input v-model.boolean="lonos" type="checkbox" class="custom-control-input"
                                    id="customSwitch3">
                                <label class="custom-control-label" for="customSwitch3">Include Acorns?</label>
                            </div>
                            Disabling this generates 6 non-acorn items, in case for some reason you aren't playing
                            rat. <br> <br>
                            enemy armor: {{enemy_armor}}
                            <input v-model.number="enemy_armor" type="range" v-bind:class="{'disabled': !random}"
                                class="custom-range" max="325"> </input>
                            soft power cap: {{pwr_cap}} (helps with making 'hybrid' builds)
                            <input v-model.number="pwr_cap" type="range" class="custom-range" max="400">
                            </input>
                        </div>
                        <div class="col">
                            <div class="btn-primary btn-lg btn-block"> stat spread priority</div><br>
                            power: {{power}} <input v-model.number="power" v-bind:class="{'disabled': !random}"
                                type="range" class="custom-range" max="10"> </input>
                            def: {{def}} <input v-model.number="def" type="range" v-bind:class="{'disabled': !random}"
                                class="custom-range" max="10"> </input>
                            mdf: {{mdf}} <input v-model.number="mdf" type="range" v-bind:class="{'disabled': !random}"
                                class="custom-range" max="10"> </input>
                            util: {{util}} <input v-model.number="util" type="range"
                                v-bind:class="{'disabled': !random}" class="custom-range" max="10"> </input>
                            <br>
                            <strong>focus: </strong>{{ability > 50 ? 'ability' : 'auto attack'}}
                            {{ability > 80 || ability < 20 ? ' heavy' : ''}} <input v-model.number="ability"
                                type="range" class="custom-range" max="100"> </input>
                        </div>
                    </div>

                </form>
                <div class="row">
                    <div class="btn-primary btn-lg btn-block"> manual item entry</div>
                    <br>
                    <div v-for="(selection, index) in preselect">
                        <br>

                        <div class="form-group">

                            <select v-model="preselect[index]" class="custom-select" name="" id="">
                                <option selected="">auto</option>
                                <option v-for="choice in itemdata">
                                    {{choice.name ? choice.name : auto}}<span style="width: 1em"></span>
                                </option>
                            </select>
                        </div>
                    </div>

                </div>
                <br> <br>

                <p class="lead">
                    <a v-on:click="search" class="btn btn-secondary btn-md" href="#" role="button">Generate Builds</a>
                </p>
                <p>
                    please be patient :) there are ~28M item combos to calc.... `s`, adding items above speeds up the
                    search dramatically (progress is logged in JS console)<br>
                    mobile users: sorry, right now it might not be performant enough to work well on a phone. on mine
                    its fairly snappy with 2 or so items entered manually,
                    the system doesnt hang, but it seems to stop the algorithm if you spend too much time out of your
                    browser, or in another tab during a longer search
                </p>
                <div class="progress">
                    <div id="prog" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        style="width: 0%"></div>
                </div>
            </div>


        </div>
        <div v-if="gen" class="alert alert-warning alert-dismissible fade show" role="alert">
            <button v-on:click="gen = false" type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Generating!</strong>
        </div>

        <div v-if="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <button v-on:click="alert = false" type="button" class="close">
                <span aria-hidden="true">&times;</span>
            </button>
            <strong>Generating done!</strong>
        </div>

        <div class="row">

            <div v-for="(rat, i) in rat_list">

                <div class="card bg-light mb-2 " style="padding: 2em">
                    <div class="row justify-content-md-center">
                        <div class="col-xs-1-12">
                            <h3> stats</h3>
                            <h3><strong>relative score: </strong>{{rat.score}}</h3>
                            <h4> effective hp:
                                <span class="text-danger">
                                    {{rat.effective_hp.phys}}
                                </span>
                                <span class="text-info">
                                    {{rat.effective_hp.magic}}
                                </span>
                            </h4>
                            <table class="table table-striped table-inverse table-responsive">
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>power</th>
                                        <th>pen</th>
                                        <th>%pen</th>
                                        <th>vamp%</th>
                                        <th>crit%</th>
                                        <th>atk spd%</th>
                                        <th>speed%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">{{rat.stats.pwr}}</td>
                                        <td>{{rat.stats.pen}}</td>
                                        <td>{{rat.stats.pencent}}</td>
                                        <td>{{rat.stats.vamp}}</td>
                                        <td>{{rat.stats.crit}}</td>
                                        <td>{{rat.stats.atk}}</td>
                                        <td>{{rat.stats.speed}}</td>
                                    </tr>
                                </tbody>
                                <thead class="thead-inverse">
                                    <tr>
                                        <th>def</th>
                                        <th>mdf</th>
                                        <th>mitigation%</th>
                                        <th>hp</th>
                                        <th>mana</th>
                                        <th>cdr%</th>
                                        <th>ccr%</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td scope="row">{{rat.stats.def}}</td>
                                        <td>{{rat.stats.mdf}}</td>
                                        <td>{{rat.stats.mit}}</td>
                                        <td>{{rat.stats.hp}}</td>
                                        <td>{{rat.stats.mana}}</td>
                                        <td>{{rat.stats.cdr}}</td>
                                        <td>{{rat.stats.ccr}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-xs-1-12" style="padding-top: 9%">
                            <apexchart width="500" type="radar" :options="rat.chart.options" :series="rat.chart.series">
                            </apexchart>
                        </div>

                    </div>
                    <h3> <button v-on:click="save(rat)" class="btn btn-success">Save
                            Build</button> items </h3> <br>
                    <p v-if="saved.indexOf(rat) >= 0">saved</p>
                    <div class="row flex-fill">

                        <div v-for="item in rat.items" class="card text-white bg-primary mb-3"
                            style="max-width: 20rem; margin: 0.5em">
                            <div class="card-header">{{item.name}}</div>
                            <div class="card-body">
                                <span v-for="(st, nm) in item.stats">
                                    <strong class="text-secondary">{{nm}}: </strong>{{st}}
                                </span>

                                <p class="card-text">
                                    passive: {{item.passive}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="index.js"></script>
</body>

</html>